.item {
  display: flex;
  justify-content: space-between;
  padding: 7px 7px;
}
.text {
  margin: 0;
  padding: 6px 0;
}
.btn {
  padding: 5px;

  border: none;
  background-color: rgb(235, 72, 72);
  color: white;
  border-radius: 4px;
}

.btn:hover,
.btn:focus {
  background-color: rgb(189, 4, 4);
}
.bt {
  background-color: gray;
  padding: 5px;

  border: none;

  color: white;
  border-radius: 4px;
}
